/* Styles that apply to the entire website */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color:black;
    scroll-behavior: smooth;
}

/* Styles that apply to the navigation bar */
.nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    font-size: 30px;
}

/* Changing the list in the navigation bar to stay on the right side and the 
items to show side by side */
li {
     list-style-type: none;
     display: inline;
     float: right;
     padding: 15px;
}

a {
    text-decoration: none;
}

/* When the mouse hovers over links, they will become green and underlined */
a:hover {
    color: #00a86b;
    transition: all 0.3s ease;
}


/* About section */
h2 {
    font-size: 20px;
}

#about,
#work,
#contact {
    padding: 50px;
}


/* Projects */

#work {
    position:relative;
}

.main-image {
    display: flex;
    justify-content: center;
}

img {
    width:90%;
    display: flex;
    justify-content: center;
}

.image-row {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 90%;
}

.image-row img {
    width: 45%;
}

@media screen and (max-width: 800px) {
    .image-row {
      display: block;
    }
    .image-row img {
        width: 90%;
    }
}